$height: 400px;
$width: 300px;

@mixin screen-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

@media screen and (min-width: 650px) {    
    
    body {
        @include screen-flex;
        min-height: 100vh;
    }

    .body {
        @include screen-flex;
        border-radius: 30px;
        background-color: white;
        box-shadow: 5px 10px 20px $light-lavender;
    }

    .header {
        min-height: $height;
        max-height: $height;
        min-width: $width;
        max-width: $width;

        border-radius: 30px;

        .container { gap: 30px; }
        .header__status {
            $status-larger: 160px;
            height: $status-larger;
            width: $status-larger;
            .header__status__title {
                font-size: 4rem;
            }
        }

        .header__copy {
            gap: 15px;
            .copy {
                font-size: 17px;
                min-width: 234px;
                max-width: 324px;
            }
        }
    
    }

    .section {
        width: 350px;
        height: $height;
        margin: 0;
        padding: 30px;
        background-color: white;
        border-radius: 30px;

        .item {
            padding: 20px;
            height: 40px;
        }

        .cta {
            padding: 15px;
            margin: 25px auto;
        }
    }

}