@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Hanken Grotesk', sans-serif; }

.header .container, .header .header__copy, .header .header__status {
  display: flex;
  flex-direction: column;
  align-items: center; }

.copy {
  color: #c8c7ff;
  font-size: 18px; }

.header {
  background-image: linear-gradient(#7857ff, #2e2be9);
  color: white;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 0 0 30px 30px; }
  .header .container {
    width: 90%;
    margin: 0 auto;
    gap: 15px; }
  .header .header__copy {
    gap: 10px; }
    .header .header__copy .copy__title {
      font-size: 1.4rem;
      font-weight: 500; }
    .header .header__copy .copy {
      max-width: 300px;
      min-width: 300px;
      text-align: center; }
  .header .header__status {
    justify-content: center;
    background-image: linear-gradient(#4e21ca, rgba(36, 33, 202, 0));
    width: 130px;
    height: 130px;
    border-radius: 50%; }
    .header .header__status .header__status__title {
      font-size: 3rem; }

.section .item, .section .item .icon {
  display: flex;
  flex-direction: row; }

.section {
  width: 90%;
  margin: 20px auto; }
  .section .section__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px; }
  .section .item {
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 50px;
    border-radius: 10px; }
    .section .item .icon {
      gap: 10px; }

.section__items .item__red {
  background-color: rgba(255, 87, 87, 0.123); }
  .section__items .item__red .item__name--red {
    color: #ff5757; }
.section__items .item__red:hover {
  background-image: linear-gradient(to right, rgba(255, 87, 87, 0.568), rgba(255, 87, 87, 0.568) 80%, rgba(255, 87, 87, 0.199), rgba(255, 87, 87, 0.199) 20%); }
.section__items .item__yellow {
  background-color: rgba(255, 176, 31, 0.205); }
  .section__items .item__yellow .item__name--yellow {
    color: #ffb01f; }
.section__items .item__yellow:hover {
  background-image: linear-gradient(to right, rgba(255, 176, 31, 0.384), rgba(255, 176, 31, 0.384) 92%, rgba(255, 176, 31, 0.096), rgba(255, 176, 31, 0.096) 8%); }
.section__items .item__green {
  background-color: rgba(0, 189, 145, 0.082); }
  .section__items .item__green .item__name--green {
    color: #00bd91; }
.section__items .item__green:hover {
  background-image: linear-gradient(to right, rgba(0, 189, 145, 0.507), rgba(0, 189, 145, 0.507) 61%, rgba(0, 189, 145, 0.103), rgba(0, 189, 145, 0.103) 39%); }
.section__items .item__cobalt {
  background-color: rgba(17, 37, 212, 0.116); }
  .section__items .item__cobalt .item__name--cobalt {
    color: #1125d4; }
.section__items .item__cobalt:hover {
  background-image: linear-gradient(to right, rgba(17, 37, 212, 0.555), rgba(17, 37, 212, 0.555) 72%, rgba(17, 37, 212, 0.082), rgba(17, 37, 212, 0.082) 28%); }

.points {
  color: #303b5a; }
  .points span {
    color: #000;
    font-weight: 700; }

.cta {
  display: block;
  width: 100%;
  margin: 40px auto;
  padding: 20px 0;
  border-radius: 50px;
  background-color: #303b5a;
  text-decoration: none;
  text-align: center;
  color: #fff; }

@media screen and (min-width: 650px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh; }

  .body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: white;
    box-shadow: 5px 10px 20px #c8c7ff; }

  .header {
    min-height: 400px;
    max-height: 400px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 30px; }
    .header .container {
      gap: 30px; }
    .header .header__status {
      height: 160px;
      width: 160px; }
      .header .header__status .header__status__title {
        font-size: 4rem; }
    .header .header__copy {
      gap: 15px; }
      .header .header__copy .copy {
        font-size: 17px;
        min-width: 234px;
        max-width: 324px; }

  .section {
    width: 350px;
    height: 400px;
    margin: 0;
    padding: 30px;
    background-color: white;
    border-radius: 30px; }
    .section .item {
      padding: 20px;
      height: 40px; }
    .section .cta {
      padding: 15px;
      margin: 25px auto; } }

/*# sourceMappingURL=style.css.map */
